---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../config';
import { Icon } from 'astro-icon'
---

<header>
	<div style="display:flex; justify-content:space-around">
		<div style="margin:1rem 3rem 0 3rem">
			<a href="https://twitter.com/jarrettv" target="_blank">
			<Icon width="18" name="mdi:twitter" color="#00BDFF"/>jarrettv</a>
	</div>
		<h1>Jarrett Vance</h1>
		<div style="margin:1rem 3rem 0 3rem">
			<a href="https://github.com/jarrettv" target="_blank">
			<Icon width="18" name="mdi:github" color="#000000"/>jarrettv</a></div>
	</div>
	<nav>
		<HeaderLink href="/">Home</HeaderLink>
		<HeaderLink href="/blog">Blog</HeaderLink>
		<HeaderLink href="/resume">Resume</HeaderLink>
	</nav>
</header>
