---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

export interface Props {
	content: {
		title: string;
		description: string;
		pubDate?: string;
		updatedDate?: string;
		heroImage?: string;
	};
}

const {
	content: { title, description, pubDate, updatedDate, heroImage },
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>
	<body>
		<main>
			<article>
				<h1 class="title">{title}</h1>
				<div style="display:flex; align-content: center;">
					<span style="font-size:1.1rem;background:#d78428;color:#fff;padding:0 0.4rem;border-radius:4px;font-weight: normal;margin-right:1rem">DRAFT</span>
				{pubDate && <time style="margin-right:2rem">{pubDate}</time>}
				{
					updatedDate && (
						<div style="color:#666;font-size:0.8rem;margin-top:0.1rem">
							Updated <time>3 hours ago</time>
						</div>
					)
				}</div>
				<slot />
			</article>
		</main>
		<Footer />
	</body>
</html>
